.Circle{
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: skyblue;
}

.Circle1{
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: green;
    position: fixed;

}000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000